#workspace{
    width: 80%;
    height: fit-content;
    margin: 1.5rem auto;
}

#dropField{
    display: block;
    position: relative;
    border: 4px solid rgba(33, 61, 187, 0.7);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.438);;
    width: 100%;
    height: 40vh;
}

#dropHints{
    display: block;
    position: relative;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

#dropHints p{
    color: rgba(16, 14, 54);
    text-align: center;
}

#dropHints button{
    display: block;
    position: absolute;
    width: fit-content;
    max-width: 70%;
    height: fit-content;
    padding: 0.4em 1em 0.4em 1em;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}

#selection_view{
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.438);
    padding: 0.3em;
}

#selectedFiles{
    font-size:150%;
    padding-inline-start: 10px;
}

#selectedFiles li{
    padding-left: 0.1em;
    list-style: none;
}

#selectedFiles li:hover{
    background-color: rgba(0, 0, 255, 0.438);
}

.fileItem{
    display: none;
}