* {
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
	background-color: rgb(76, 162, 233);
	width: 100%;
	min-width: fit-content;
	box-sizing: border-box;
}

/*input[type="button"]:hover {
	background-color: rgb(150,170,205);
}*/

#header {
	-webkit-appearance: none;
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem 15px 0.5rem 15px;
	background-color: rgba(33, 61, 187, 0.486);
	border-bottom-width: 5px;
	border-style: solid; 
	border-color: rgba(16, 14, 54, 0.9);
	/*width: 90%;*/
	min-width: 500px;
	height: fit-content;
	margin: 0 auto;
}

#headerContainer{
	display: block;
	width:50%;
	min-width: 500px;
	text-align: center;
}

#header div{
	vertical-align: middle;
}

#header h1{
	color: rgba(16, 14, 54);
	background-color: #eeeeee55;
	font-size: 42px;
	font-weight: 5px;
	font-family: 'Times New Roman', Times, serif;
	border: 2px solid #202020;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.profileField {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	/*margin: 5px auto;*/
	width: fit-content;
	min-width: 500px;
	height: 35%;
	min-height: 50px;
	font-size: 1.5rem;
}

.profileField input {
	display: flexbox;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.438);
	border-radius: 5%;
	width: 60%;
	min-width: 230px;
	height: 90%;
	text-align: center;
}

#profile h3 {
	display: flexbox;
	border-bottom: 2px solid blue;
	margin: auto;
	width: 60%;
	min-width: 230px;
	height: 90%;
	text-align: center;
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.profileField button {
	display: flexbox;
	margin: auto;
	border-radius: 5%;
	width: 35%;
	min-width: 150px;
	height: 90%;
}

button{
	color: black;
	background-color: rgb(200,220,255);
	text-align: center;
}

button:hover {
	transition-duration: 0.2s;
	color: rgb(67, 217, 255);
	background-color: rgb(15, 53, 124);
	padding: 5px;
	/*font-size: 1.6rem;*/
}

.nav{
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.nav li{
	display: block;
	width: calc(100%/3);
	list-style: none;
	height: 2.3rem;
	margin: auto;
}

.nav li a{
	text-decoration: none;
}

.nav li button{
	display: block;
	border-width: 0 1px 3px 1px;
	border-style: solid;
	border-color:  rgba(16, 14, 54, 0.9);
	width: 100%;
	min-width: 200px;
	font-size: 1.5rem;
}

.nav li button:hover{
	margin-top: -10px;
	border-width: 2px 1px 2px 1px;
	border-style: solid;
	border-color:  rgba(16, 14, 54, 0.9);
}

.nav li button[active]{
	transition-duration: 0.2s;
	color: rgb(67, 217, 255);
	background-color: rgb(15, 53, 124);
}


@media screen and (max-width:600px){
	.nav li{
		width: 100%;
		min-width: 100%;
		height: fit-content;
	}

	.nav li button{
		height: 3.2rem;
	}

	.nav li button:hover{
		margin-top: 0;
		border-width: 0;
	}
}

.formFileInput {
	display: block;
	position: relative;
	width: 80%;
	height: 50px;
	margin: 15px 0px 10px 10%;
	background-color: rgb(200,220,255);
	font-size: 200%;
}

.pageBlock {
	padding: 0;
	display: block;
	position: relative;
	background-color: rgb(150, 200, 255);
	margin: 20px 10% 0px 10%;
	border: 3px solid rgb(50, 50, 200);
	width: 80%;
	min-height: 50px;
}

#selectedFiles h3{
	margin: 15px 0 15px 15px;
}

#selectedFiles ol{
	margin-left: 5%;
}

#selectedFiles ol li{
	margin: 5px 0 5px 0;
}

#received h3{
	margin: 15px 0 15px 15px;
}

#received ol{
	margin-left: 5%;
}

#received ol li{
	color: black;
	margin: 5px 0 5px 0;
}

#users h3 {
	margin-left: 10%;
	margin-top: 5px;
	font-size: 150%
}

#users button{
	display: inline-block;
	position: relative;
	margin: 10px 10% 10px 10%;
	width: 80%;
	height: 40px;
	background-color: rgb(200,220,255);
	border-radius: 10px;
	font-size: 200%;
}

.button{
	display: block;
	position: relative;
	background-color: rgb(200,220,255);
	border-radius: 10px;
	margin: 15px 0 15px 15px; 
	width: 40%;
	height: 50px;
	text-align: center;
}

.profileField button.button, #users button.button, input[type="button"], input[type="submit"].formFileInput {
	transition-duration: 1s;
  	cursor: pointer;
}

.profileField button.button:hover, #users button.button:hover, input[type="button"]:hover, input[type="submit"]:hover {
	background-color: rgb(150,170,205);
}

.progress {
	display: none;
	background-color: #a0e8de;
	border-radius: 15px;
	position: relative;
	margin: 15px 30% 15px 30%;
	height: 30px;
	width: 40%;
}

.progress-done {
	background: #0961ad;
	box-shadow: 0 3px 3px -5px #04294a, 0 2px 5px #04294a;
	border-radius: 15px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 0.5s linear;
}