* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
	padding: 0 5% 0 5%;
	margin: 0;
	background-color: rgb(76, 162, 233);
}

/*input[type="button"]:hover {
	background-color: rgb(150,170,205);
}*/

#header {
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 0.5rem 15px 0.5rem 15px;
	background-color: rgba(126, 104, 250, 0.5);
	border-radius: 15px;
	border-width: 5px 10px 5px 10px;
	border-style: solid; 
	border-color: rgba(16, 14, 54, 0.9);
	/*width: 90%;*/
	min-width: 500px;
	height: fit-content;
	margin: 0 auto;
}

#headerContainer{
	display: flex;
	width:50%;
	min-width: 400px;
	text-align: center;
}

#header div{
	vertical-align: middle;
}

#header h1{
	color: rgba(16, 14, 54, 0.9);
	font-size: 45px;
	font-weight: 5px;
	font-family: sans-serif;
}

#register {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	/*margin: 5px auto;*/
	width: fit-content;
	max-width: 50%;
	min-width: 400px;
	height: 35%;
	font-size: 1.5rem;
}

#register input {
	display: flexbox;
	margin: 5px auto;
	background-color: rgba(205, 205, 255, 0.233);
	border-bottom: 2px solid blue;
	border-radius: 5%;
	width: 60%;
	min-width: 230px;
	height: 90%;
	text-align: center;
}

#register button {
	display: flexbox;
	margin: auto;
	background-color: rgb(200,220,255);
	border-radius: 5%;
	width: 35%;
	min-width: 150px;
	height: 90%;
	text-align: center;
}

#register button:hover {
	transition-duration: 0.2s;
	color: rgb(67, 217, 255);
	background-color: rgb(15, 53, 124);
	border-radius: 5px;
	padding: 5px;
	/*font-size: 1.6rem;*/
}

.formFileInput {
	display: block;
	position: relative;
	width: 80%;
	height: 50px;
	margin: 15px 0px 10px 10%;
	background-color: rgb(200,220,255);
	font-size: 200%;
}

.pageBlock {
	padding: 0;
	display: block;
	position: relative;
	background-color: rgb(150, 200, 255);
	margin: 20px 10% 0px 10%;
	border: 3px solid rgb(50, 50, 200);
	width: 80%;
	min-height: 50px;
}

#selectedFiles h3{
	margin: 15px 0 15px 15px;
}

#selectedFiles ol{
	margin-left: 5%;
}

#selectedFiles ol li{
	margin: 5px 0 5px 0;
}

#received h3{
	margin: 15px 0 15px 15px;
}

#received ol{
	margin-left: 5%;
}

#received ol li{
	color: black;
	margin: 5px 0 5px 0;
}

#users h3 {
	margin-left: 10%;
	margin-top: 5px;
	font-size: 150%
}

#users button{
	display: inline-block;
	position: relative;
	margin: 10px 10% 10px 10%;
	width: 80%;
	height: 40px;
	background-color: rgb(200,220,255);
	border-radius: 10px;
	font-size: 200%;
}

.button{
	display: block;
	position: relative;
	background-color: rgb(200,220,255);
	border-radius: 10px;
	margin: 15px 0 15px 15px; 
	width: 40%;
	height: 50px;
	text-align: center;
}

#register button.button, #users button.button, input[type="button"], input[type="submit"].formFileInput {
	transition-duration: 1s;
  	cursor: pointer;
}

#register button.button:hover, #users button.button:hover, input[type="button"]:hover, input[type="submit"]:hover {
	background-color: rgb(150,170,205);
}

.progress {
	display: none;
	background-color: #a0e8de;
	border-radius: 15px;
	position: relative;
	margin: 15px 30% 15px 30%;
	height: 30px;
	width: 40%;
}

.progress-done {
	background: #0961ad;
	box-shadow: 0 3px 3px -5px #04294a, 0 2px 5px #04294a;
	border-radius: 15px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 0.5s linear;
}